*.ts
!*.d.ts
/**/*.ts
!/**/*.d.ts
node_modules
.git
logs
config
.vscode
tests
tsconfig.json
build_path
build_vars
build_mocks
build_consumers
.nyc_output
.scannerwork
coverage
sonar-project.properties
build/tests
build/build_vars
build/build_mocks
